@model SurfAndTurf.Models.Bookings

@{
    ViewData["Title"] = "Rent";
}

<h1>Create</h1>

<h4>Rent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdentityUserID" class="control-label"></label>
                <input asp-for="IdentityUserID" class="form-control" readonly hidden/>
                <span asp-validation-for="IdentityUserID" class="text-danger"></span>

                <input class="form-control" value="@ViewData["IdentityUserName"]" disabled />
            </div>
            <div class="form-group">
                <label asp-for="SurfBoardID" class="control-label"></label>
                <input asp-for="SurfBoardID" class="form-control" readonly hidden/>
                <span asp-validation-for="SurfBoardID" class="text-danger"></span>

                <input class="form-control" value="@ViewData["SurfBoardName"]" disabled />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" readonly/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Rent" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>